@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";


.header {
  @include dja(flex, flex-end, center);
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 80px;
  background-color: rgb(37, 37, 39, 0.8);
  @media screen and (max-width: 500px) {
    background: none;
  }
}
