@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.skillsBlock {
    color: $colorText;
    background-color: $backGroundColorSecond;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 640px) {
    .skills{
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}