@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.mainBlock {
  position: relative;
  color: $colorText;
  height: 100vh;
  background-color: $backGroundColor;
  .particles{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    opacity: 0.2;
    height:100%;
  }
  .mainContainer {
    @media screen and (max-width: 880px) {
      justify-content: center;
    }
  }
  .text {
    width: 50%;
    max-width: 500px;
    min-width: 200px;
    @media screen and (max-width: 541px) {
      max-width: 280px;
      transition: 500ms;
    }

    span, p {
      @include poppins(16px, 400, normal);
    }
    span:nth-child(3){
      div{
        font-size: 27px;
      }
    }
    h1 {
      @include josefin(50px, 700, normal);
      padding: 10px 0 10px;
      span {
        display: inline-block;
        position: relative;
        font: inherit;
        z-index: 0;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          height: 20px;
          width: 100%;
          background-color: $primaryColor;
          z-index: -1;
        }
      }

    }
  }

  .imgContainer {
    position: relative;
    z-index: 1;

    .photo {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      width: 350px;
      height: 420px;
      transition: 500ms;
      @media screen and (max-width: 450px) {
        width: 220px;
        height: 320px;
        transition: 500ms;
      }

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -15px;
        left: 15px;
        width: 105%;
        height: 110%;
        border: 5px solid $primaryColor;
      }
    }

  }


}


