@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";

.nav {
  @include josefin(20px, 400, 1.2);
  width: 400px;
  display: flex;
  justify-content: space-around;
}


.nav a {
  color: white;
  text-decoration: none;
}