
.projectsBlock {
    padding: 100px 0;
    background-color: #1f1f20;
    color: #fff;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 5px;
    margin: 0 0 30px;
    position: relative;
}

.title::before{
    content:"";
    position: absolute;
    width: 55px;
    height: 1px;
    margin: 30px auto;
    background: #4e93e6;
    bottom:-50px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.projects {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
}




 /*
 background: #4e93e6
  */
